<div class="ui very relaxed items">

    {{#each products}}

    <div class="item" data-id={{productID}}>
        <div class="image">
            <img src="http://lorempixel.com/400/200" />
        </div>
        <div class="content">
            <a class="ui header" href="#link">{{productName}}</a>
            <div class="description">
                <p>{{productDescription}}</p>
                Category: {{productCategory}}<br />
                QTY: {{quantityInStock}}<br />
                Price: {{price}}
            </div>
            <div class="ui animated button" tabindex="0">
                <div class="visible content">View details</div>
                <div class="hidden content">
                    <i class="eye icon"></i>
                </div>
            </div>
            <div class="ui animated button" tabindex="0">
                <div class="visible content">Add to wishlist</div>
                <div class="hidden content">
                    <i class="heart icon"></i>
                </div>
            </div>
            <div class="ui vertical animated button" tabindex="0">
                <div class="hidden content">Add to Cart</div>
                <div class="visible content">
                    <i class="shop icon"></i>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
</div>
<div class="ui very relaxed items">
    <div class="item">
        <div class="image">
            <img src="http://lorempixel.com/400/200" />
        </div>
        <div class="content">
            <a class="ui header" href="#link">{{product.name}}</a>
            <div class="description">
                <p>{{product.description}}</p>
                <p>{{product.price}}</p>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical animated button" tabindex="0">
    <div class="hidden content">Cart</div>
    <div class="visible content">
        <i class="shop icon"></i>
    </div>
</div>
<div class="ui animated button" tabindex="0">
    <div class="visible content">Check Out</div>
    <div class="hidden content">
        <i class="sign-out icon"></i>
    </div>
=======

    {{/each}}

>>>>>>> 1b2a8e0cd9a59a783cf0d033cd81f5d19edf3417
</div>