<div class="ui very relaxed items">

    {{#each products}}

    <div class="item" data-id={{productID}}>
        <div class="image">
            <img src="http://lorempixel.com/400/200" />
        </div>
        <div class="content">
            <a class="ui header" href="#link">{{productName}}</a>
            <div class="description">
                <p>{{productDescription}}</p>
                Category: {{productCategory}}<br />
                QTY: {{quantityInStock}}<br />
                Price: {{price}}
            </div>
            <div class="ui animated button" tabindex="0">
                <div class="visible content">View details</div>
                <div class="hidden content">
                    <i class="eye icon"></i>
                </div>
            </div>
            <div class="ui animated button" tabindex="0">
                <div class="visible content">Add to wishlist</div>
                <div class="hidden content">
                    <i class="heart icon"></i>
                </div>
            </div>
            <div class="ui vertical animated button add-to-cart" tabindex="0" data-id={{productID}}>
                <div class="hidden content">Add
                    to Cart</div>
                <div class="visible content">
                    <i class="shop icon"></i>
                </div>
            </div>
        </div>
    </div>

    {{/each}}

</div>